
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family:Arial, Helvetica, sans-serif;
    
}
h1#textTitle {
    margin-left: 2vw;
    margin-top: 35vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 8em;
    color: white;
    
    text-shadow: 3px 3px 3px rgba(65, 64, 64, 0.577),
    5px 5px 3px rgba(0, 0, 0, 0.5);
}
     /*
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
     /* Visible color */
     
p {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
}
 
h1 {
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Poppins', sans-serif;

}
h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.glasscontainer {
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, rgba(224, 223, 223, 0.502),rgba(255, 255, 255, 0.551), rgba(255, 255, 255, 0.633), rgba(255, 255, 255, 0.573));
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    padding: 15px;
    margin-left: 4vw;
    margin-right:4vw;

}
.glasscontainer p {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.section1_main {
    background-color: black;
    position: relative;
     
}

.nav-menu {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    display: none;
    z-index: 1;
    box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.2);
}

.rotate {
    animation: rotate 1s delay alternate-reverse fill-mode;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.nav-menu h2{
    font-size: 3em;
    font-weight: bolder;
}

.nav-menu ul {
    
    padding: 0;
    margin-top: 10%;  
}
.nav-menu ul li{
    font-size: 2em;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
     
    width: 100%;
}

#openCloseNavBarText {
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
    z-index: 5;
    font-weight: bolder;
}

#section2_main{
     
    background-position: center;
     
    margin: 0;
    width: auto;
    background-size: cover;
    height: 100%; overflow: hidden;
    position: relative;
}
#image_bacground_section2 {
     
     
    width: 100%;
    height: 100%;
    margin: 0;
    
    position: absolute;

}
#image_bacground_section2 img {
    
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover; 

}
#promise{
    animation: slideIn 30s infinite ease-in-out; 
}

@keyframes slideIn {
    from {
        opacity: 1;
        transform: translateX(100vw );
    }
    to {
        opacity: 1;
        transform: translateX(-250vw);
    }
}

.scroll_right_items {
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 30vh; 
    width: 30vw;
    margin-right: 15vw;
    margin-bottom: 15vw;
    position: relative;
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.586),
    5px 5px 20px rgba(255, 255, 255, 0.422);
  
}

.scroll_right_items_i {
    margin-left: auto;
    margin-right: auto;
 
    position: relative;
    height: 75%;
    width: 90%;
    
     

}
 
.overflow_scroll {
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
     
    margin-bottom: 5vh;

    padding-left: 5vw;
    padding-right: 5vw;
     
    padding-bottom: 5vh;

     
}

.scroll_right_items_i img {
    border-radius: 15px;
    width: 100%; 
    height: 70%;
    margin-top: 1vh;
    
     
}
 
.scroll_right_items_i h3 {
    font-weight: bold;
    font-size: 2rem;
    
}

.scroll_right_items_i p {
    
    text-wrap: wrap;
      

}

.scroll_right_items:hover {
    color: rgb(26, 26, 26);
    transition: 0.5s ease-in-out ;
    transform: translateY(-15px);
    text-shadow: 4px 4px 7px rgba(54, 54, 54, 0.621);
}

 

.members_list {
    margin-bottom: 2vh;
    margin-top: 2vh;
    position: relative;

}

.individualMember {
    height: 60vh;
    border: solid rgb(52, 56, 46);
    padding: 15px;
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

.individualMember img {
    
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.individualMember .flexcenter  {
    display: flex;
    

     
}
.individualMember .text {
    margin-top: auto;
    margin-bottom: auto;
}
.step {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.497);
    padding: 10px;
    margin-left: 3vw; 
    display: flex;
    width: 45vw;
    margin-right: 3vw;
    height: 58vh;
     
}
.groupSteps::-webkit-scrollbar {
    display: none;  
  }
.step_effect {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.497) !important;
    padding: 10px !important;
    margin-left: 3vw !important; 
    display: flex !important;
    width: 80vw !important;
    margin-right: 3vw !important;
    height: 78vh !important;
    font-size: 1.1em;

}
.step img{
    width: 25vw;
    height: 45vh;
}

.step-inside {
    margin-top: auto;
    
    margin-bottom: auto;
}

.step-inside p {
    margin-left: 3vw;
}
 
.groupSteps {
    
    overflow-x: scroll;
     
    display: flex;
    padding: 40px;
    position: relative;
}

#arrowright {
    position: absolute;
    top:30%;
    right:-3vw;
    
    width: 10vw;
    height:200px;
    z-index: 3;
}
#arrowleft {
    position: absolute;
    top:30%;
    left:-3vw;
    
    width: 10vw;
    height:200px;
    z-index: 3;

}
.container {
    margin-top: 15vh;
    position:relative;
     
    width: 100vw;
     
}
img.step-effect {  
    width: 30vw !important;
    height: 100% !important;
}