
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@900&display=swap');
body {
    font-family:Arial, Helvetica, sans-serif;
}
h1#textTitle {
    margin-left: 2vw;
    margin-top: 35vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 8em;
    color: white;
    
    text-shadow: 3px 3px 3px rgba(65, 64, 64, 0.577),
    5px 5px 3px rgba(0, 0, 0, 0.5);
}
     /*
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
     /* Visible color */
     
p {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
}
 
h1 {
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family:  Arial, Helvetica, sans-serif;

}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.glasscontainer {
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, rgba(224, 223, 223, 0.502),rgba(255, 255, 255, 0.551), rgba(255, 255, 255, 0.633), rgba(255, 255, 255, 0.573));
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    padding: 15px;
    margin-left: 4vw;
    margin-right:4vw;

}
.glasscontainer p {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.section1_main {
    background-color: black;
    position: relative;
     
}

.nav-menu {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    display: none;
    z-index: 1;
    box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.2);
}

.rotate {
    animation: rotate 1s delay alternate-reverse fill-mode;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.nav-menu h2{
    font-size: 3em;
    font-weight: bolder;
}

.nav-menu ul {
    
    padding: 0;
    margin-top: 10%;  
}
.nav-menu ul li{
    font-size: 2em;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
     
    width: 100%;
}

#openCloseNavBarText {
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
    z-index: 5;
    font-weight: bolder;
}

#section2_main{
     
    background-position: center;
     
    margin: 0;
    width: auto;
    background-size: cover;
    height: 100%; overflow: hidden;
    position: relative;
}
#image_bacground_section2 {
     
     
    width: 100%;
    height: 100%;
    margin: 0;
    
    position: absolute;

}
#image_bacground_section2 img {
    
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover; 

}
#promise{
    animation: slideIn 30s infinite ease-in-out; 
}

@keyframes slideIn {
    from {
        opacity: 1;
        transform: translateX(100vw );
    }
    to {
        opacity: 1;
        transform: translateX(-250vw);
    }
}

.scroll_right_items {
    background-color: white;
    border-radius: 15px;
    height: 40vh; 
    width:40vw
}

.scroll_right_items_i {
    height: 100%;

}

.stop-scrolling {
    height: 100%;
    overflow:hidden;
}