{% extends "skeleton.html" %}
{% load static %}
{% block main_up %}
    <div class="container-fluid" style="">
        <div></div>
        <h1 style="color: aliceblue; font-size: 7em; font-weight: bold; text-align: center; margin-top: 10vh;">
            GRACE HOPPER
        </h1>

        <div class="container-fluid" >
            <div class="row mx-5 mt-5" style="background-color: white; border-radius: 20px; height: 45vh; align-items: center;">
                

                    <div class="col-md-6" style="height: 100%; display: flex;justify-content: center; align-items: center;">
                        <img src="{% static 'img/placeholder.png' %}" style="height: 80%; ">
                    </div>
                    <div class="col-md-6">
                        <p class="mx-5">
                            Welcome to our website blah balh blah blah blah balh blah blah blah balh blah blah blah balh blah blahblah balh blah blahblah balh blah blahblah balh blah blah
                        </p>
                    </div>

                 
                
            </div>
            
        </div>

    </div>

{% endblock main_up %}


{% block content %}
<section id="section2_index" style="height: 100vh; width: 100vw; position: relative; background-color: black; margin-top: 10vh;">
    <!-- Sliding carrousel-->
     <div class="mt-5" style="margin-left: 3vw;   width: fit-content;">
        <h2 style="color: white;">
            The content ....
        </h2>
     </div>
     

     <!--Start of box-like containers-->
     <!--Credits to Corentin Fardeu for the js horizontal scroll-->
     <div class="mt-5" id="scrollrightpass" style="width: fit-content;">
        

        <div class=" overflow_scroll" id="OverflowScrollRight" style="">
            
            <div class="mx-3 scroll_right_items scroll_right_items_1">
                <div class="scroll_right_items_i">
                    <img src="{% static 'img/placeholder.png' %}" style="">
                    <h3>OUR TEAM</h3>
                    <p>Here are the people who created the website</p>
                </div>
            </div>
        
            <div class=" mx-3 scroll_right_items scroll_right_items_2">

                <div class="scroll_right_items_i ">
                    <img src="{% static 'img/placeholder.png' %}" style="">
                    <h3>HOME PAGE</h3>
                    <p>You are currently here, hope you are enjoying it</p>
                </div>

            </div>
            <div class="mx-3 scroll_right_items scroll_right_items_3">

                <div class="scroll_right_items_i">
                    <img src="{% static 'img/placeholder.png' %}" style="">
                    <h3>ABOUT HOPPER</h3>
                    <p>Learn about Grace Hopper, her constributions and her life</p>
                </div>
            </div>
            <div class="mx-3 scroll_right_items scroll_right_items_4">

                <div class="scroll_right_items_i">
                    <img src="{% static 'img/placeholder.png' %}" style="">
                    <h3>PROCESS</h3>
                    <p>Here you will find the process for creating the website</p>
                </div>
            </div>
            <div class="mx-3 scroll_right_items scroll_right_items_5">

                <div class="scroll_right_items_i">
                    <img src="{% static 'img/placeholder.png' %}" style="">
                    <h3>Process</h3>
                    <p>Here you will find the process for creating the website</p>
                </div>
            </div>
            <div class="mx-3 scroll_right_items" style="visibility: hidden;">
                <div class="scroll_right_items_i">
                    <img src="" style="width: 100%; height: 60%;">
                    <h3>Process</h3>
                    <p> </p>
                </div>
                 
            </div>
             

             

        </div>

     </div>
      
 

</section>
<section></section>
<script>
    let horizontalScrollIndex = document.getElementsByClassName('scroll_right_items');
    let containerHorizontalScroll = document.getElementsByClassName('overflow_scroll');
    function horizontalScroll(GroupOfObjects, container) {
        var hs = new HorizontalScroll.default({
            blocks: GroupOfObjects,
            container: container,
            isAnimated: true,
            springEffect: 0.8,


        })
    }
    horizontalScroll(horizontalScrollIndex, containerHorizontalScroll);



     
    
    document.addEventListener("scroll", () => {
         
        /*if end reached*/        
        
        
        
    })
    
    const viewportTop = window.pageYOffset;
                

</script>
{% endblock content %}