{% extends "skeleton.html" %}
{% load static %}
{% block main_up %}
    <div class="container-fluid"  >
        <div style="margin-top: 10vh;"></div>
        <h1 style="color: aliceblue; font-size: 12em; font-weight: bold; text-align: center;">
                PROCESS

        </h1>

    </div>

{% endblock main_up %}


{% block content %}
<section id="section2_process" style="height: 80vh; background-color: rgb(255, 255, 255); position: relative;">
    <!-- Sliding carrousel-->
    
    <div class="container">
        
        <img id="arrowright" src="{% static 'img/arrowright.svg' %}">
        <img id="arrowleft" src="{% static 'img/arrowleft.svg' %}">
        <div class="groupSteps" id="groupSteps">
            
            <div class="step">
                
                <div class="step-inside">
                    <h2>Project Charter</h2>
                    <p>This is an overall outline of our project and research, it includes our research and a management plan.
                        <br><br><a href="https://docs.google.com/document/d/1D9tD69w-o_RUC9qlLwk8FWxG_FpVRuNhBYseh2_lSds/edit?usp=sharing">Click here</a>
                    </p>
                    
                
                </div>
                <img src="{% static 'img/Charter.png' %}">

                
            </div>
            <div class="step">
                <div class="step-inside">
                    <h2>Project Research</h2>
                    <p>
                        Our research on Grace Hopper highlighting her significance, contributions and explaining why we chose her.
                    <br><br>  <a href="https://docs.google.com/document/d/1a25U9oQDJLOhk9k9ua0RW2iZCNWyNdSrpzBLq-IHoMs/edit?usp=sharing">Click here</a>
                    </p>
                   
                    
                </div>
                <img src="{% static 'img/Research.png' %}">
                
            </div>
            <div class="step">
                <div class="step-inside">
                    <h2>Website Wireframe</h2>
                    <p>
                        The draft of our website that includes who we are, who Grace Hopper is and what we had done until then.
                    <br><br> <a href="https://www.figma.com/design/dN8nZEUJd5rnrKmNupSBeM/Project-Website-Wireframe?node-id=0-1&t=1Oe1XoHUoH5DMbid-1">Click here</a>
                    </p>
                    
                    
                </div>
                <img src="{% static 'img/figmatemplate.png' %}">
                
            </div>
            <div class="step">
                <div class="step-inside">
                    <h2>Presentation</h2>
                    <p>
                        Our presentation on Grace Hopper’s contribution to modern society as an underrepresented person in technology.
                         
                    </p>
                    
                    
                </div>
                 
                <img src="{% static 'img/presentation.png' %}">
                
            </div>
            <div class="step">
                <div class="step-inside">
                    <h2>Presentation</h2>
                    <p>
                         
                        We received feedback to improve the visual appeal of our website, fix the navigation menu and adding more animations.
                    </p>
                    
                    
                </div>
                 
                <img src="{% static 'img/feedback.png' %}">
                
            </div>
        </div>
    </div>

</section>
<section id="section3_process" style="margin-top: 10vh;">
    <div>
        <h1>A reflection on our work</h1>
        <p>We worked together well, everybody did their part. We believe we worked well because of the open comunication between us. We would recommend other groups to also discuss openly their ideas, no idea is bad, even if it may seem insignificant ideas provide a foundation to build a better project.</p>
        <p>What we recommend other groups is to always use collaborative plataforms, like google sheets, google drive, github, etc.</p>
    </div>
</section>
<hr>
<style>
         
        
    #section2_process {
        cursor: url("{% static 'img/blackllipsis.png' %}") 16 16, auto !important;
    }
    #section3_process {
        cursor: url("{% static 'img/blackllipsis.png' %}") 16 16, auto !important;

    }
     
</style>
<script>
     
            let containerSteps = document.getElementById('groupSteps');
            let outlineProcess = document.getElementsByClassName('step');
            let arrowleft = document.getElementById('arrowleft');
            let arrowright = document.getElementById('arrowright');
            
            var i= 0;
            arrowleft.addEventListener("click", () => {
                console.log(`arrow left: ${outlineProcess[i]}`);
                if (i != 0) {
                    containerSteps.scrollLeft -= outlineProcess[i].offsetWidth;
                    if (i < outlineProcess.length){
                        outlineProcess[i].classList.remove('step_effect'); 
                        document.querySelectorAll('.step img')[i].classList.remove('step-effect');
                         
                    }
                     
                    outlineProcess[i-1].classList.add('step_effect');
                    document.querySelectorAll('.step img')[i-1].classList.add('step-effect');
                     

                    i--;
                    console.log(`i: ${i}`);
                } 
                
                
            })
            arrowright.addEventListener("click", () => {
                console.log(`arrow left: ${outlineProcess[i]}`);
                if (i < outlineProcess.length -1) {
                    containerSteps.scrollLeft += outlineProcess[i].offsetWidth;
                     
                        outlineProcess[i].classList.remove('step_effect') ;
                        document.querySelectorAll('.step img')[i].classList.remove('step-effect');
                        
                     

                    outlineProcess[i+1].classList.add('step_effect');
                    document.querySelectorAll('.step img')[i+1].classList.add('step-effect');
                     
                     
                    i++;
                    console.log(`i: ${i}`);
                }
                
                
            })
 
</script>
{% endblock content %}