{% extends "skeleton.html" %}
{% load static %}
{% block main_up %}
    <div class="container-fluid" style="border: solid green;">
        <div></div>
        <h1 style="color: aliceblue; font-size: 12em; font-weight: bold; text-align: center;">
            MEMBERS
        </h1>

    </div>

{% endblock main_up %}


{% block content %}
<section id="section2_process" style="height: 100vh; position: relative;">
    <!-- Sliding carrousel-->
    

</section>
<script>
</script>
{% endblock content %}