{% extends "skeleton.html" %}
{% load static %}
{% block main_up %}
<section style="height: 100vh;">
    <div class="container-fluid" style="">
        <div></div>
        <h1 style="color: aliceblue; font-size: 12em; font-weight: bold; text-align: center; margin-top: 15vh;">
            OUR TEAM
        </h1>

    </div>

</section>
    

{% endblock main_up %}
 

{% block content %}
 
<section id="section2_members" style="height: 240vh; width: 100vw;; position: relative;">
    <style>
         
        #section2_members {
        cursor: url("{% static 'img/blackllipsis.png' %}") 16 16, auto !important;
         
    }
         
    </style>
    <!-- Sliding carrousel-->
    <script>
        let members = document.getElementsByClassName('individualMember');
        
         
        
    </script>
    <div class="members_list m_list_odd">
        <div class="row individualMember">
        
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4 text animationrise">
                <h2>Brianna Henriquez-Diaz</h2>
                <p>brihenri@iu.edu</p>

            </div>
            <div class="col-md-4 flexcenter animationrise">
                <div class="imgfadein"></div>
                <img  src="{% static 'img/Brianna.jpg' %}" alt="Picture of Brianna">
            </div>
        </div> 
        <!---->
        <div class="row individualMember">
             
            <div class="col-md-4 flexcenter animationrise">
                <div class="imgfadein"></div>
                <img  src="{% static 'img/Caitlyn.jpg' %}" alt="Picture of Caitlyn">

            </div>
            <div class="col-md-4 text animationrise">
                <h2>Caitlyn Maas</h2>
                <p>camaas@iu.edu</p>
            </div>
            <div class="col-md-4">

            </div>
        
        </div>

        <div class="row individualMember  ">
             
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4 text animationrise">
                <h2>Shelia Hernandez</h2>
                <p>Sheherna@iu.edu</p>
               
            </div>
            <div class="col-md-4 flexcenter animationrise" >
                <div class="imgfadein"></div>
                <img src="{% static 'img/Natalie.jpg' %}" alt="Picture of Natalie">

            </div>
            
            
        </div>

        <div class="row individualMember">
             
            <div class="col-md-4 flexcenter animationrise">
                <div class="imgfadein" style=""></div>
                <img src="{% static 'img/Zasha.jpg' %}" alt="Picture of Zasha">                
            </div>
            <div class="col-md-4 text animationrise">
                <h2>Zasha Benites</h2>
                <p>mbenites@iu.edu</p>
               
            </div>
            <div class="col-md-4"></div>
          
           

        </div>



    </div>
    

</section>

<script>
    let membersSection = document.getElementById('section2_members');
    let animationsriseMembers = document.getElementsByClassName('animationrise');
    let fadeInAnimationImages = document.getElementsByClassName('imgfadein');
    document.addEventListener("scroll", function() {
        if(inView(membersSection)) {
                    
                    Array.from(animationsriseMembers).forEach(element => {
                        element.classList.add('slow-rise');
                    });
                } else {
                    Array.from(animationsriseMembers).forEach(element => {
                        element.classList.remove('slow-rise');
                    });
                     
                }
                Array.from(fadeInAnimationImages).forEach(element => {
                    if (inView(element)){
                        element.classList.add('fadeinAn');
                    } else {
                        element.classList.remove('fadeinAn');
                    }
                    })


    })
    
            
</script>
{% endblock content %}